.input-icon-right {
  padding-right: 40px;
}

.input-icon-left {
  padding-left: 40px;
}

.left-icon {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 10px;
}

.right-icon {
  position: absolute;
  right: 5px;
  top: 2px;
  padding: 10px 10px;
}
